.FAQ-container {
    margin-top: 10px;
    margin-left: 20px;
  }
  
p{
    font-size: 1.5em;
    margin-bottom:30px;
  }
h1{
    margin-bottom: 60px;
    color :#ecb8cb;
  }
h2{
    font-size:2em;
    color :#e0adb8
  }