

  nav {
    font-size:1.2em!important;
    margin-bottom:3vh;
  }
  body{
   background: linear-gradient(rgba(255, 75, 75, 0.9), rgba(100, 100, 100, 0.7)), url("/static/prom-img6.jpg");
    
    /*
    background: linear-gradient(rgba(255, 175, 175, 0.9), rgba(0, 0, 0, 0.7)), url("/static/prom-img6.jpg");
    */
    background-position: center top;
    background-repeat: no-repeat;
    background-size:cover;
    color:white;
    background-blend-mode: darken;
  }