.pitch {
    text-align : center;
}

#pitch-text {
    font-weight : 500;
    font-size:1.5em;
}

#header {
    color :#f12d75;
    margin-top: 5vh;
    margin-bottom: 20px;
    font-size:2.5em;
    font-weight: 700;
}


.button-div{
    text-align: center;
    margin-bottom:30px;
}
#love-button{
    font-size:2rem;
    background-color:#dc3545;
    color:white;
    border-color:white;
}
#love-button:hover{
    transition: all 0.666s ease-in-out;
    background-color:white;
    color:#dc3545;
    border-color:#dc3545;
}




