{%extends 'promApp/base.html'%}


{%block main%}

{%load static%}

<link rel="stylesheet" type="text/css" href="{%static 'css/about.css'%}">


<div class="FAQ-container">
  <h1>Important Questions 🤔</h1>

  <h2>What is NWHS Prom?</h2>
  <p>With Prom coming by soon, NWHS Prom offers NW Jags a chance to approach their Prom Dates anonymously and risk-free before Prom.</p>

  <h2>How does it work?</h2>
  <p>Once you sign up for NWHS Prom, you'll be able to anonymously enter the names of other NWHS students you want to go to Prom with.
  If you and your prospective date enter each others' names, the match will be revealed to you two! :) </p>

  <h2>How do I know who is crushing on me?</h2>
  <p>
    You are not able to know the names of the people who are crushing on you until you match with any of them. 
    However, it is possible to see the number of people crushing on you even if you have not matched with them.
  </p> 

  <h2>What do I do once I match?</h2>
  <p>Ask them to Prom! Go to Prom! seriously it is supposed to be fun...</p>

  <h2>Is my account secure?</h2>
  <p>Yes, privacy is very important to the website maker. As such, all of your information is protected. 
    Only you can see your inputs and matches.</p> 

  <h2>When is Prom?</h2>
  <p>Prom is April 22nd, 2022 from 7:00 PM to 11:00PM </p>

  <h2>Where is Prom?</h2>
  <p>The Double Tree by Hilton Washington DC North/Gaithursburg</p>

  </div>



{%endblock main%}