{%extends 'promApp/base.html'%}


{%block main%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/about.css'%}" type="text/css">
<style>
  .guide-container {
    margin-top: 10px;
    margin-left: 20px;
  }
  
</style>
<div class="guide-container">

  <h1>A Step-By-Step Guide</h1>
  <p>

    Fast forward to the most important step <a href="#step4">here</a>
    <br><br>
    Hi! At this moment, you are likely wondering how this website is going to get you a prom date. 
    Asking someone to prom is no easy task so this website is dedicated to aleviating any stress 
    (and perhaps humiliation) that may come along with this process.
    Using this website, you will be able to input people you want to go to prom with. 
    Nobody sees your inputs except yourself so you can confident that you're not exposing yourself.
    If your prospective prom date uses this website and inputs your name, the match will be revealed.
    
  </p>

  <h2>Step 1: Make an Account with Google</h2>

  <p>
    This website uses Google's authorization system to create an account. Click sign-up or login to create an account.
    The first name and last name associated with your Google account will be your unique identifier so be sure to use an account
    where your first and last name is what other people would call you.
  </p>

  <h2>Step 2: Input your year</h2>

  <p>
    Prom is an event for Juniors and Seniors only. After signing up, input your year to continue. 
    After inputting your year, you will be able to input your prospective prom dates.
  </p>

  <h2>Step 3: Input date names and years</h2> 
  <p>
    Now that you've inputted your year, you will be able to input your prospective dates' names and years. 
  </p>

  <strong style="font-size:1.5em; margin-top:30px" id="step4"><h2>Step 4:⚠️Spread news of your candidacy</h2></strong>
  <p>
    This is arguably the most important step to getting you a date. Since this website requires both you and your prospective 
    date to input each others' names, it is important to be proactive in getting them onto the website too. Social media apps like
    Instgram and Snapchat will be your best bet as you will have the ability to hint to the masses that you're looking for a date; 
    Your date could see it and feel the same way about you. Be sure to specify your first name, last name, and year in your post or story
    to net a date.

  </p>

</div>
{%endblock main%}